#menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: min(80ch, 100%);
  max-width: 100%;
}

#menu__header {
  display: flex;
  align-items: center;
  gap: 1em;
}

#menu__header img {
  height: 2em;
}

#menu :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0;
}

#game__rules__colors span {
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
}

#game__rules__colors span:is(.green, .orange, .pink, .yellow) {
  color: black;
}
